.custom-dark-gray {
    color: #585858;
}

.option-modal-bg {
    background-color: #242424;
}

.devmate-containers {
    background-color: #151515;
}

.devmate-highlighted-chat {
    background-color: #242424;
}